
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;

}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}

.brand img {
    width : 52px;
    padding: 8px;

}
.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
}
.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
   background-image: url('bg1.jpg.png');
   background-size: 100%;
}
.bottom {
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.icons {
    margin-top: 14px;
}
.icons i {
    cursor: pointer;
}
#myprogressbar {
    width: 80vw;
    cursor: pointer;
}

.songitem {

    height: 50px;
    display: flex;
    background-color: white;
    width: 80%;
   color: black;
   margin: 12px 0;
  border-radius: 34px;
  justify-content: space-between;
  align-items: center;
 
  
   
}

.songitem img{
   
     width: 50px;
     margin: 20px 30px ;
     border-radius: 34px;
}

.timestamp {
    margin : 23px 0;
    padding: 30px;
    
}
.timestamp i {
    cursor: pointer;
}

.songinfo {
  position: absolute;
   left: 0;
}

.songinfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}